body {
  padding-top: 30px;
  font-family: "Lato", sans-serif;
  color: #eff7e1;
}

h1 {
  font-size: 30px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-left: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

i {
  color: #79a3b1;
  font-size: 25px;
}

.weatherapp {
  background-color: #214151;
  border: 1px solid #dfe1e5;
  margin: 0 auto;
  border-radius: 5px;
  padding-bottom: 10px;
}

.search-bar {
  padding-top: 20px;
}

.current-temperature {
  padding-left: 100px;
  padding-top: -20px;
}

.current-date {
  padding-left: 20px;
}

#current-weather-icon {
  font-size: 65px;
  padding-top: 10px;
}

.current-temperature strong {
  font-size: 45px;
  font-weight: 100;
}

.current-temperature .units {
  position: relative;
  top: -20px;
}

#info-breakdown {
  padding-left: 40px;
  padding-top: 10px;
}

.changeloc {
  border-radius: 5px;
  background-color: #f8dc81;
  color: #214151;
  border: 10px;
  box-shadow: 1px 1px 2px black;
  border-color: #f8dc81;
  margin-left: 5px;
}

.locbutton {
  border-radius: 5px;
  background-color: #f8dc81;
  color: #214151;
  border: 10px;
  box-shadow: 1px 1px 2px black;
  border-color: #f8dc81;
  margin-top: 5px;
}

.day-card {
  padding: 10px 30px;
  border: 1px solid #dfe1e5;
  border-radius: 5px;
  margin-left: 20px;
}

.highs {
  font-weight: bolder;
}

.lows {
  color: #0000006e;
}

.current-temperature .active {
  color: #dfe1e5;
  cursor: default;
  text-decoration: none;
}

.current-temperature .active:hover {
  text-decoration: none;
}
