body {
  padding-top: 30px;
  font-family: "Lato", sans-serif;
}
h1 {
  font-size: 30px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-left: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding-left: 20px;
}

i {
  color: #79a3b1;
  font-size: 25px;
  padding-top: 20px;
}

h6 {
  padding-top: 10px;
}

.weatherapp {
  background-color: #fcf8ec;
  border: 1px solid #dfe1e5;
  margin: 0 auto;
  border-radius: 5px;
}

.search-bar {
  padding-top: 20px;
}

.current-temperature {
  padding-left: 100px;
  padding-top: -20px;
}

#current-weather-icon {
  font-size: 65px;
}

.current-temperature strong {
  font-size: 45px;
  font-weight: 100;
}

.current-temperature .units {
  position: relative;
  top: -20px;
}

#info-breakdown {
  padding-left: 40px;
  padding-top: 20px;
}

.subcard {
  background-color: #d0e8f2;
}

.changeloc {
  border-radius: 5px;
  background-color: #456268;
  color: #fcf8ec;
  border: 10px;
  box-shadow: 1px 1px 2px black;
  border-color: #456268;
  margin-left: 5px;
}
.locbutton {
  border-radius: 5px;
  background-color: #456268;
  color: #fcf8ec;
  border: 10px;
  box-shadow: 1px 1px 2px black;
  border-color: #456268;
  margin-top: 5px;
}
